/* The CSS for the table was based of an example at wc3 schools. 
http://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy
*/
h1{
    color: darkgreen;
}
h2{
    color: #269abc;
}
li{
    color: #d2322d;
}